.tree .light {
	display: flex;
	margin: 18px;
	position: relative;
	height: 48px;
	width: 48px;
	justify-content: center;
	cursor: pointer;

	&.is-off .circle {
		transition: background-color 0.2s;
		background-color: rgba(#563260, 0.12) !important;
		border-color: transparent !important;
		box-shadow: none !important;
	}

	.circle {
		position: relative;
		border-radius: 100%;
		border: 1px solid;

		&.blue {
			border-color: rgba($blue, 0.5);
		}

		&.green {
			border-color: rgba($green, 0.5);
		}

		&.red {
			border-color: rgba($red, 0.5);
		}

		&.yellow {
			border-color: rgba($yellow, 0.5);
		}

		&::before {
			position: absolute;
			content: "";
			width: 50%;
			height: 40%;
			top: -25%;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 100% 100% 0 0;
			display: inline-block;
			background-color: #443549;
			z-index: 1;
		}
	}

	&::after {
		position: absolute;
		content: "";
		top: -20px;
		left: 45%;
		width: 185%;
		height: 32px;
		border-bottom: solid #222 3px;
		border-radius: 50%;
		z-index: 10;
	}

	&:last-child::after {
		content: none;
	}
}

@media screen and (max-width: 640px) {
	.tree .light {
		margin: 8px;

		&::after {
			width: 140%;
		}
	}
}

@media screen and (max-width: 470px) {
	.tree .light {
		margin: 4px;
		height: 36px;
		width: 36px;

		&::after {
			width: 130%;
		}
	}
}
