.wrapper {
	margin: 48px auto;
}

.title {
	font-size: 4.4rem;
	font-family: $font-family-cursive;
	text-align: center;
	margin-bottom: 48px;
}

.controllers-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 48px auto;
	padding: 12px;

	& div {
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		display: table;
		font-size: 1.3rem;
		font-weight: bold;
		margin-bottom: 6px;
		width: 100%;
	}
}
